# Logs
logs
*.log

# Local env files
.Rhistory
.Rproj.user
.Renviron
*.sqlite
*.Rproj
*.csv

# gemini-cli settings
.gemini/

# GitHub App credentials
gha-creds-*.json

sandbox/dev_db.sqlite*
sandbox/.nfs*
